## Importing the libraries

In [1]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

## Creating the transactions

In [2]:
dataset = [
    ['Milk', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
    ['Dill', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
    ['Milk', 'Apple', 'Kidney Beans', 'Eggs'],
    ['Milk', 'Unicorn', 'Corn', 'Kidney Beans', 'Yogurt'],
    ['Corn', 'Onion', 'Onion', 'Kidney Beans', 'Ice cream', 'Eggs'],
]
basket = pd.DataFrame(dataset)
basket.head()

      0        1             2             3          4       5
0  Milk    Onion        Nutmeg  Kidney Beans       Eggs  Yogurt
1  Dill    Onion        Nutmeg  Kidney Beans       Eggs  Yogurt
2  Milk    Apple  Kidney Beans          Eggs       None    None
3  Milk  Unicorn          Corn  Kidney Beans     Yogurt    None
4  Corn    Onion         Onion  Kidney Beans  Ice cream    Eggs

## Unique items in basket

In [5]:
unique_items = pd.Series(basket.to_numpy().ravel()).unique()
nunique_items = pd.Series(basket.to_numpy().ravel()).nunique()
print(f"Number of unique items: {nunique_items}")
print(f"List of unique items:\n{unique_items}")

Number of unique items: 11
List of unique items:
['Milk' 'Onion' 'Nutmeg' 'Kidney Beans' 'Eggs' 'Yogurt' 'Dill' 'Apple'
 None 'Unicorn' 'Corn' 'Ice cream']

## Encoding the dataset

In [6]:
te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)
df = pd.DataFrame(te_ary, columns=te.columns_)
df

,Apple,Corn,Dill,Eggs,Ice cream,Kidney Beans,Milk,Nutmeg,Onion,Unicorn,Yogurt
0,False,False,False,True,False,True,True,True,True,False,True
1,False,False,True,True,False,True,False,True,True,False,True
2,True,False,False,True,False,True,True,False,False,False,False
3,False,True,False,False,False,True,True,False,False,True,True
4,False,True,False,True,True,True,False,False,True,False,False

## Apriori Algorithm

In [8]:
item_sets = apriori(df, min_support=0.6, use_colnames=True)
item_sets["length"] = item_sets["itemsets"].str.len()
item_sets

    support                     itemsets  length
0       0.8                       (Eggs)       1
1       1.0               (Kidney Beans)       1
2       0.6                       (Milk)       1
3       0.6                      (Onion)       1
4       0.6                     (Yogurt)       1
5       0.8         (Eggs, Kidney Beans)       2
6       0.6                (Eggs, Onion)       2
7       0.6         (Kidney Beans, Milk)       2
8       0.6        (Kidney Beans, Onion)       2
9       0.6       (Yogurt, Kidney Beans)       2
10      0.6  (Eggs, Kidney Beans, Onion)       3

## Association Rules

In [10]:
rules = association_rules(item_sets, metric="lift")
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(Eggs),(Kidney Beans),0.8,1.0,0.8,1.00,1.00,0.00,inf,0.0
1,(Kidney Beans),(Eggs),1.0,0.8,0.8,0.80,1.00,0.00,1.0,0.0
2,(Eggs),(Onion),0.8,0.6,0.6,0.75,1.25,0.12,1.6,1.0
3,(Onion),(Eggs),0.6,0.8,0.6,1.00,1.25,0.12,inf,0.5
4,(Kidney Beans),(Milk),1.0,0.6,0.6,0.60,1.00,0.00,1.0,0.0
5,(Milk),(Kidney Beans),0.6,1.0,0.6,1.00,1.00,0.00,inf,0.0
6,(Kidney Beans),(Onion),1.0,0.6,0.6,0.60,1.00,0.00,1.0,0.0
7,(Onion),(Kidney Beans),0.6,1.0,0.6,1.00,1.00,0.00,inf,0.0
8,(Yogurt),(Kidney Beans),0.6,1.0,0.6,1.00,1.00,0.00,inf,0.0
9,(Kidney Beans),(Yogurt),1.0,0.6,0.6,0.60,1.00,0.00,1.0,0.0
10,"(Eggs, Kidney Beans)",(Onion),0.8,0.6,0.6,0.75,1.25,0.12,1.6,1.0
11,"(Eggs, Onion)",(Kidney Beans),0.6,1.0,0.6,1.00,1.00,0.00,inf,0.0
12,"(Kidney Beans, Onion)",(Eggs),0.6,0.8,0.6,1.00,1.25,0.12,inf,0.5
13,(Eggs),"(Kidney Beans, Onion)",0.8,0.6,0.6,0.75,1.25,0.12,1.6,1.0
14,(Kidney Beans),"(Eggs, Onion)",1.0,0.6,0.6,0.60,1.00,0.00,1.0,0.0
15,(Onion),"(Eggs, Kidney Beans)",0.6,0.8,0.6,1.00,1.25,0.12,inf,0.5